header {
  width: 100%;
  background-color: #2c3e50;
  height: 54px;
}

 .navbar-default {
    border: 0;
    padding: 5px 25px;
}
.navbar {
    background-color: transparent;
    color: white;
    margin-bottom: 0px;
}
.navbar-default {
  .navbar-brand {
    color: #ccc;
    &:hover {
      color: white;
    }
  }
  .navbar-nav > li > a {
    color: #ccc;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: white;
    &:hover, &:focus {
      background-color: transparent;
      color: white;
    }
  }
}
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ccc;
    text-align: center;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}
.wrapper {
  margin: 0px auto 74px;
  padding: 20px 20px 20px 35px;
  .row {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    word-wrap: break-word;
  }
}
.wrapper2 {
  margin: 0px auto 74px;
  padding: 20px 20px 20px 35px;
  width: 300px;
  border: solid 1px #eee;
  .row {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    word-wrap: break-word;
  }
}
input[type="submit"].btn-block{
  margin: 15px 0;
}

.container{
  padding-bottom: 85px;
}
.img-responsive-1 {
  display: block;
  height: auto;
  width: 296px;
  position: relative;
  margin-top: 20px;

}
.img-responsive-2 {
  display: block;
  height: auto;
  width: 72px;
  border:solid 3px white;
  border-radius: 2px;
  position: absolute;
  bottom:10px;
  left:45px;
}
// .left_pro{
//   float:left;
//   display: inline-block;
//   font-size: 12px;
// }
// .name p {
//   float: right;
// }
// .fimage{
//   width: 300px;

// }
// .tweet{
//   width: 300px;
// }
// .fimage p {
//     font-size: 150%;
//     text-align: center;
// }